In [5]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.0-cp310-cp310-macosx_10_9_x86_64.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 16.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/claywooton/opt/anaconda3/envs/atsc528/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/claywooton/opt/anaconda3/envs/atsc528/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /Users/claywooton/opt/anaconda3/envs/atsc528/lib/python3.10/site-packages (from pandas) (1.23.3)
Requirement already satisfied: six>=1.5 in /Users/claywooton/opt/anaconda3/envs/atsc528/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.5.0

In [6]:
import pandas as pd

In [22]:
data = pd.read_csv("RAOBs_201903131200.txt")

In [23]:
data

     CWPL  51.47  -90.20  5460.0  285.0  29.0
0    CWQI  43.83   -66.0  5540.0  325.0  41.0
1    CWSE  53.55  -113.9  5360.0  280.0  12.0
2    CYAH  53.75   -73.6  5340.0  300.0  70.0
3    CYBK  64.30   -96.0  5220.0   95.0  17.0
4    CYCB  69.10  -105.1  5190.0  245.0  32.0
..    ...    ...     ...     ...    ...   ...
129  KWAL  37.93   -75.4  5730.0  325.0  44.0
130  KXKF  32.37   -64.6  5620.0  300.0  46.0
131  KYAK  59.52  -139.6  5340.0  195.0  22.0
132  KYMW  46.38   -75.9  5580.0  275.0  38.0
133  KYXY  60.72  -135.0  5340.0  300.0  17.0

[134 rows x 6 columns]

In [ ]:
data.columns = ['Station ID', 'Latitude', 'Longitude', '500-mb Height (mb)', '500-mb Wind Direction', '  ]